* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  margin: 80px auto;
  width: 550px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid black;
  padding: 17px;
  border: 1.5px solid lightgray;
  border-radius: 25px;
}

.card-container .card-img-container {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.card-container .card-img-container img {
  border-radius: 25px;
}
.off {
  position: absolute;
  bottom: 31px;
  left: -1px;
  font-size: 22px;
  color: white;
  font-weight: 400;
  background-color: #266fef;
  padding: 7px 13px;
  word-spacing: 4px;
}
.promoted {
  position: absolute;
  top: 13.5px;
  left: 20px;
  background-color: rgba(83, 68, 38, 0.805);
  color: rgb(247, 246, 245);
  padding: 1px 7px;
}
.time {
  position: absolute;
  right: 33px;
  bottom: 30px;
  color: white;
  font-size: 20px;
  background-color: rgb(75, 72, 72);
  padding: 5.5px 7px;
  border-radius: 5px;
}
.card-container h1 {
  font-weight: 500;
  margin-bottom: 15px;
}

.card-container .cuisines {
  color: #898686;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-container .st-line {
  border-top: 1.3px solid lightgray;
}

.logo-container {
  position: relative;
}
.logo {
  position: absolute;
  top: 16px;
}

.card-container .delivery-instruction {
  margin-top: 10px;
  margin-left: 7px;
  color: #898686;
  font-size: 21px;
  font-weight: 400;
  padding-left: 85px;
}

.hero-image-container {
  width: 60%;
  margin: 50px auto;
  border-radius: 15px;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.absolute {
  position: absolute;
}
.hero-image-container img {
  width: 100%;
  border-radius: 15px;
  opacity: 0.98;
}

.hero-image-container h1 {
  color: white;
  top: 40%;
  left: 25%;
}

.hero-image-container .p1 {
  color: white;
  top: 50%;
  left: 1%;
}

.hero-image-container .p2 {
  color: white;
  top: 55%;
  left: 35%;
}

.hero-image-container button {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  top: 62%;
  left: 45%;
  font-weight: 600;
}

.profile-container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  border-radius: 16px;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-container > .bg-container {
  height: 150px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.bg-container > img {
  height: 150px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.user-container{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: 158px;
}
.user-container img{
    border: 5px solid white;
    border-radius: 50%;

}

.user-info{
    position: absolute;
    top: 176%;
    left: 27%;
}

.user-info p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
    color: darkgray;
    margin-left: -2px;
}